<%= @stores_count %> Total Stores
<br/>
<div class="search-results">
  <% @stores.each do |store| %>
        <div class="long-name">
          Name: <%= store.name %><br>
        </div>
        <div class="city">
          City: <%= store.city %><br>
        </div>
        <div class="distance">
          Distance: <%= store.distance %><br>
        </div>
        <div class="phone-number">
          Phone: <%= store.phone %><br>
        </div>
        <div class="store-type">
          Store Type: <%= store.store_type %><br>
      </div>
    <br/>
  <% end %>
</div>

<%#= will_paginate @stores %>
